{% extends 'baseAdmin.html.twig' %}

{% block title %}competences-form{% endblock %}

{% block body %}

{{ parent() }}
<div class="col-10 p-3">
   <h2 class="pb-3">Formulaire</h2>
  {{ form_start(formulaireCompetence) }}
  {{ form_end(formulaireCompetence) }}
</div>

{% endblock %}