{% extends 'baseAdmin.html.twig' %}

{% block title %}projets-form{% endblock %}

{% block body %}

{{ parent() }}
<div class="col-10 p-3">
  <h2 class="pb-3">Formulaire</h2>
  {{ form_start(formulaireProjet) }}
  {{ form_end(formulaireProjet) }}
</div>

{% endblock %}