<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="description" content="site Portfolio">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="autor" content="Olha NEKRASHEVYCH">
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Oxygen&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
	<!-- Font Awesome -->
	<script src="https://kit.fontawesome.com/e2b423cc67.js" crossorigin="anonymous"></script>
	<link rel="icon" type="image/png" sizes="32x32" href="./img/monstera.png" />
	<script src="js/wow.min.js"></script>
	<script>
		new WOW().init();
	</script>

	<title>Olha NEKRASHEVYCH -
		{% block title %}base
		{% endblock %}
	</title>

</head>

<body>

	{% block body %}{% endblock %}
	<footer class="border">
		<div class="container-fluid">
			<div class="row text-center ">
				<div class="col-md-6 p-5 wow animate__animated animate__fadeInLeft">
					<p class="font-weight-bold">{% trans %}Suivez-moi{% endtrans %}</p>


					<a href="https://www.facebook.com/olga.kyrylenko.7">
						<i class="fab fa-facebook fa-lg mr-2"></i>
					</a>

					<a
						href="https://www.linkedin.com/in/olha-nekrashevych-web-development/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3BpRETPiO9SmqJ4zCB1UU4dQ%3D%3D">
						<i class="fab fa-linkedin fa-lg"></i>
					</a>


				</div>
				<div class="col-md-6 p-5 wow animate__animated animate__fadeInRight">
					<ul>
						<li class="font-weight-bold">{% trans %}Coordonn&eacute;es{% endtrans %}</li>


						<li>olha.idf@gmail.com</li>

					</ul>
				</div>
				<div class="col-12 p-3 font-weight-light wow animate__animated animate__fadeInUp">
					{{ copyright|raw }}
					|
					<a href="{{ path('mentions_legales') }}">Mentions légales</a>
				</div>
			</div>
		</div>


	</footer>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="js/script.js"></script>
	{% block javascripts %}{% endblock %}

</body>

</html>