{% extends 'base.html.twig' %}
{% block title %}mentions légales
{% endblock %}
{% block body %}
	<section class="mentions_legales">
		<div class="container-fluid">
			<div class="row pt-5 ">
				<div class="col-12">
					<h2 class="text-center py-2">Mentions légales</h2>
				</div>
			</div>
			<div class="row mx-5">
				<ul>
					<li>
						<p><strong>1. Publication</strong></p>
						<p>
							<i>Propriétaire du site :</i>
							NEKRASHEVYCH Olha – olha.idf@gmail.com</p>

						<p>
							<i>Directeur de la publication et webmaster
							</i>: NEKRASHEVYCH Olha – olha.idf@gmail.com</p>
						<p>
							<i>Hébergeur
							</i>:
						</p>
						<p>
							1&1 Internet SARL 7, place de la Gare / BP 70109 / 57200
															              Sarreguemines Cedex<br/>
							Téléphone 0970 808 911
							<br/>
							E-mail: info@ionos.fr
						</p>Ce site web, http://olha.fr/, a été conçu et réalisé par NEKRASHEVYCH Olha.</p>
					</li>
				<li>
           <p><strong>2. Limitation de responsabilité</strong></p>
           <p>Toutes les informations du site http://olha.fr/ sont fournies à titre purement indicatif et présentent un risque d'erreur, d'inexactitude ou d'omission. En conséquence, l'utilisateur reconnaît utiliser ces informations sous sa responsabilité exclusive.</p>
           <p>Les sites reliés directement ou indirectement contrôlés au présent site http://olha.fr/ ne sont pas sous son. En conséquence, l'auteur du site n'assume aucune responsabilité quant aux informations publiées sur ces sites. Les liens avec des sites extérieurs ne sont fournis qu'à titre de commodité et n'impliquent aucune mise en garde quant à leur contenu.</p>
           <p>Le site http://olha.fr/ ne pourra être tenu responsable des dommages directs et indirects causés au matériel de l'utilisateur lors de l'utilisation du site, et résultant de l'apparition d'un bug ou d' une incompatibilité. De plus, l'utilisateur du site s'engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour.</p>
			</li>
		</ul>
	</div>
</div></section>{% endblock %}
