{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
<body>


    <div class="container py-5">
      <h1 class="display-4 text-center py-5">404</h1>
      <h3 class="text-center mb-5">Oups! Cette page est introuvable</h3>
      <div class="row justify-content-center">
        <div class="col-9 text-center">    
          <p class="text-muted">Désolé mais la page que vous recherchez n'existe pas a été supprimée. nom changé ou temporairement indisponible</p>
     <a href="{{ path('home') }}">Retorner dans le site </a>
    </div>
  </div>
 
</div>

</body>
{% endblock %}