{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
<body>


    <div class="container py-5">
      <h1 class="display-1 text-center py-5">404</h1>
      <h3 class="display-4 text-center">Oups! Cette page est introuvable</h3>
      <div class="row justify-content-center">
        <div class="col-6 text-center
        ">
      
        <p class="lead">DÉSOLÉ MAIS LA PAGE QUE VOUS RECHERCHEZ N'EXISTE PAS, A ÉTÉ SUPPRIMÉE. NOM CHANGÉ OU TEMPORAIREMENT INDISPONIBLE</p>
     <a href="{{ path('home') }}">Retorner dans le site </a>
    </div>
  </div>
 
</div>

</body>
{% endblock %}